@model IEnumerable<TodoApplication>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Home page</h1>
    @if (Model == null)
    {
        <h2>No Data found.</h2>
    }
    else
    {

        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>

                    <td>Name</td>

                    <td>Description</td>

                    <td>Date Time</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {

                    <tr>
                        <td>@x.Id</td>
                        <td>@x.Name</td>
                        <td>@x.Description</td>
                        <td>@x.CreatedDate</td>
                        <td>
                            <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Updated" asp-route-id="@x.Id">
                                Update me
                            </a>
                            <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Deleted" asp-route-id="@x.Id">
                                Delete me
                            </a>
                        </td>

                    </tr>

                }

            </tbody>
        </table>

    }
</div>

<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="CreateData">
    click me
</a>